  @tailwind base;
  @tailwind components;
  @tailwind utilities;

.instructions {
    display: block; /* Make sure it shows when the class is applied */
}
.offscreen {
    display: none; /* Make sure it hides when the class is applied */
}

.hide {
  display: none;
}
